/* 
Blue Color: #33afe5;
Green Color: #40c781;
Off White Color: #f0f0f0f0;
*/
/*--Contact-Part-Starts-Here--*/
.contact{
	background-color: #fff;
	padding:7em 0px;
}
.contact-main{
	background-color: #33afe5;
	margin: auto;
	width: 80%;
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-main h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
	text-align: center;
}
.contact-main p {
	color: #333;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.info h2{
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
	text-align: center;
}	
input.text {
    border: 1px solid #222;
    background: red;
}
.contact{
}
.contact-bottom{
	text-align:center;
	margin-top:10%;
}
.contact-bottom input[type="text"] {
	width: 50%;
	color: #999999;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 17px 25px;
	margin-bottom: 1em;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-bottom textarea {
	resize: none;
	width: 50%;
	margin: 0 auto;
	color: #999999;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	outline: none;
	padding: 15px 25px;
	border: solid 1px #D5D4D4;
	min-height: 13.2em;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #33afe5;
	padding: 15px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 1.5em;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"]:hover {
	background: #363636;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--Contact-Part-Ends-Here--*/