body{
    font-family: 'Lato', sans-serif!important;
    background-color: #fefefe;
    color:#000;
    font-size: 21px;
    line-height: 32px;
}

@media (min-width: 1200px){
    .container {
        max-width: 800px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 800px;
    }
}

#max{
    width: 100px;
    border-radius: 5px;
}

.fa{
    font-size: 1.3em!important;
}

a, a:hover{
    color:#001287;
}

h1 a {
    color:#444;
    text-decoration: none!important;    
}

.social-icons > a {
    color: #444;
}

#home-nav-link{
    color: #222;
}

.nav-link.active{
    /* background-color: rgba(0,0,0,.5); */
    /* color: #222!important; */
    /* font-weight: bold; */
}

#post-subtitle{
    font-size: 1.1em;
    font-style: italic;
}

blockquote{
    padding: 10px 20px;
    margin: 20px 25px;
    border-left: 6px solid #444;
    font-style: italic;
    /* font-weight: bold; */
    font-size: 1.05em;
}

blockquote p {
    margin-bottom: 0px;
}

#post-content>p:first-child:first-letter{
    text-transform: capitalize;
    font-size: 2em;
    initial-letter: 1;
  }


  #post-content h2{
      margin: 40px 0px 20px 0px;
  }


  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }