body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, Arial;
    background-color: #fefefe;
    color:#000;
    font-size: 21px;
    line-height: 32px;
}

@media (min-width: 1200px){
    .container {
        max-width: 800px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 800px;
    }
}

#max{
    width: 100px;
    border-radius: 5px;
}

.fa{
    font-size: 1.3em!important;
}

a, a:hover{
    color:#001287;
}

h1 a {
    color:#444;
    text-decoration: none!important;    
}

a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}

section.footnotes{
    margin-top: 100px;
    margin-bottom: 50px;
}

.social-icons > a {
    color: #444;
}

#home-nav-link{
    color: #222;
}

.nav-link.active{
    /* background-color: rgba(0,0,0,.5); */
    /* color: #222!important; */
    /* font-weight: bold; */
}

#blog-post-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#blog-post-list li h2 {
    font-size: 1.5rem;
}

#blog-post-list li {
    margin: 25px auto;
    font-size: 1.2rem;
}

#blog-post-list li a{
    color:#1B70BB;
}

#blog-post-list li .post-list-date{
    color:#bbb;
    font-size:.9em;
}

#post-subtitle{
    font-size: 1.1em;
    font-style: italic;
}

blockquote{
    padding: 10px 20px;
    margin: 20px 25px;
    border-left: 6px solid #444;
    font-style: italic;
    /* font-weight: bold; */
    font-size: 1.05em;
}

blockquote p {
    margin-bottom: 0px;
}

/* #post-content>p:first-child:first-letter{
    text-transform: capitalize;
    font-size: 2em;
    initial-letter: 1;
  } */


  #post-content h2{
      margin: 40px 0px 20px 0px;
  }


  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }