/* 
Blue Color: #33afe5;
Green Color: #40c781;
Off White Color: #f0f0f0f0;
*/
html, body{
    font-size: 100%;
	background:	#fff;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  margin: 0px;
}
body a{
	transition: 0.1s all ease;
	-webkit-transition: 0.1s all ease;
	-moz-transition: 0.1s all ease;
	-o-transition: 0.1s all ease;
	-ms-transition: 0.1s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

a:focus {
	color:#33afe5!important;
	font-weight: bold;
}

a:hover{
	color: #1C5F7C!important;
}
/*-- Header Part Starts Here --*/
.topbar{
	/*background: url(../images/banner1.jpg) no-repeat;*/
	/*background-size: cover;*/
	height: 80px;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	padding-top: 11px;
	position: fixed;
	background-color: transparent;
}

.topbar.affix-top a{
	color: #fff;
}

.topbar.affix-top{
}

.affix{
	background: #fff;
}

.navigation {
	width: 75%;
	float: right;
	text-align: center;
}

.topbar.affix .logo img{
	filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}
.logo img{
	max-width: 200px;
	display: inline-block;
	float:left;
	padding-top: 5px;
	filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);
}

ul.navig {
	padding: 0;
	display: inline;
	float: right;
	padding-top: 2%;
}
ul.navig li span {
	/*color: #000;*/
	margin: 0 15px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: 0 2px;
	position: static;

}
ul.navig li a {
	text-decoration: none;
	padding: 11px 7px;
	font-size: 20px;
}
/*ul.navig li a:hover,ul.navig li a.active {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	background: rgba(47, 169, 250, .6) ;
	border-radius: 0.3em;
	border: 1px solid rgba(255, 255, 255, 0.73);
}*/
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
/*ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
	
}*/
/*--Header-Part-Ends-Here --*/


#banner { 
    background: url(../images/SiteImages/banner1.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    position: relative; 
    /*box-shadow: 0 0 10px rgba(0,0,0,0.6);*/
    z-index: 999;
    min-height: 650px;


}

/*-- Banner-Part-Starts-Here--*/

.back-tint{
	/*background: rgba(8,8,8, 0.5);*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40c781+0,000000+41,000000+100&amp;0.45+0,0.4+7,0.5+41,0.7+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwYzc4MSIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjMzVhNTZiIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(64,199,129,0.45) 0%, rgba(53,165,107,0.4) 7%, rgba(0,0,0,0.5) 41%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,199,129,0.45)), color-stop(7%,rgba(53,165,107,0.4)), color-stop(41%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(64,199,129,0.45) 0%,rgba(53,165,107,0.4) 7%,rgba(0,0,0,0.5) 41%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(64,199,129,0.45) 0%,rgba(53,165,107,0.4) 7%,rgba(0,0,0,0.5) 41%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(64,199,129,0.45) 0%,rgba(53,165,107,0.4) 7%,rgba(0,0,0,0.5) 41%,rgba(0,0,0,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(64,199,129,0.45) 0%,rgba(53,165,107,0.4) 7%,rgba(0,0,0,0.5) 41%,rgba(0,0,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7340c781', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */

	min-height: 650px;
	position: static;
	z-index: 999;
}
.banner-bottom h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 5.0em;
	width: 95%;
	margin: 20px auto;
	line-height: 1.4em;
}
.banner-bottom p {
	font-family: 'Roboto', sans-serif;
	color: #33afe5;
	font-size: 2.1em;
	font-weight: 300;
	margin: 0 auto;
	width: 85%;
	margin-top: 20px;
	line-height: 1.0em;
}
.banner-bottom span{
	color: #40c781;
	font-weight: bold;
}

.banner-btm {
	text-align: center;
	margin-top: 18%;
}


/*--Banner-Part-Ends-Here--*/
/*--Tech-Part-Starts-Here--*/
.tech{
	padding:3em 0px;
	background:#fff;
}
.tech-left{
	text-align:center;
	width:20%;
	float:left;
}
/*--Tech-Part-Ends-Here--*/
/* Card, Dialog */
.card, .dialog {
  width: 90%;
  margin: auto;
  background-color: #33afe5;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.24);
  margin: 2% auto 2% auto;
  color: #fff;
}
/*--Why-Part-Starts-Here--*/
.why {
	background: #33afe5;
	padding: 6em 0px 5em 0px;
	position: relative;
	z-index: 900;
}
.why-top{
	text-align:center;
}
.why-top span{
	font-weight: 800;
	color: #333;
}
.why-top h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
}
.why-top p {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;

}
.why-top img{
  width: 35%;
  position: absolute;
  top: -80px;
  left: -160px;
  opacity: .2;
}
.why-bottom {
	margin-top: 2%;
}
.why-quote p {
	color: #fff;
	font-size: 2.5em;
	line-height: 1.4em;
	font-weight: 200;
	padding: 4% 0 2% 0;
	margin-left: 49px;
}
.who{
	background: #D7EFFA;/* rgba(255,255,255, .8);*/
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 10%;
	height: 370px;
}
.who p {
	color: #333;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.4em;
	margin: 5%;

}
.who h1 {
	width: 80%;
	margin: auto;
	text-align: center;
	color: #40c781;
	font-size: 1.8em;
	font-weight: 800;
	line-height: 1.4em;
	font-weight: 400;
	padding-bottom: 10px;
	padding-top: 25px;
	padding: 25px,25px,10px,25px;
	font-weight: bold;
}

.who ul {
    list-style: disc;
    padding:0;
    margin:2%;
    padding-bottom: 50px;
    padding-left: 35px;
}

.who li { 
    color : #333;
	padding: 5px 5px 10px 10px;
    text-indent: -0em;
   	font-size: 1.5em;
	font-weight: 600;
	width: 85%;
	margin: auto;
}

.who li:before {
    color: #40c781;
}
.who img{
	width: 50%;
}
/* --fab-who-- */
.fab-who.blue img{
  width: 65%;
  position: relative;
  top: 10%;
  left: 18%;
}
.fab-who {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 15px;
  left: -5px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab-who.blue {
  background-color: #f0f0f0;
}

.fab-who > core-icon {
  margin: 16px;
}

.fab-who > core-icon::shadow path {
  fill: #fff;
}
/*--Why-Part-Ends-Here--*/
/*--How-Part-Starts-Here--*/
.how {
	background: #f0f0f0;
	padding: 6em 0px 7em 0px;
	position: relative;
	z-index: 800;
 	overflow-x:hidden;
}
.how-top{
	text-align:center;
}
.how-top span{
	font-weight: 800;
	color: #40c781;
}
.how-top h3 {
	color: #33afe5;
	font-size: 2.7em;
	font-weight: 400;
}
.how-top p {
	color: #333;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.how-top img{
  width: 35%;
  position: absolute;
  top: -70px;
  right: -140px;
  opacity: .2;
}

.how-line{
	margin-top: 20px;
}
.how-bottom {
	margin-top: 2%;
}
.how-text{
	/*padding: 3em 0px 2.5em 0;*/
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 5%;
}
.how-text p {
	color: #33afe5;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 200;
}
.how-text p span{
	color:#3399cc;
}
.how-quote p {
	font-size: 2.5em;
	line-height: 1.4em;
	font-weight: 200;
}
.how-quote{
	padding: 20px 40px;
}
.how-img{
	margin-top: 0%;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.how-img.dfs img {
    display:block;
    margin:auto;
	width: 25%;
}

.model-trans{
	width: 100%;
	border-radius:5px;
	margin-top: 36px;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.7);
}

.transform-container{
	width: 146px;
	margin: 50px auto 0;
	border-radius: 5px;
	background-color: #33afe5;
	padding: 19px;
}
.transform{
	filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);
}

.how-btm{
	margin-top:1em;
}
/*--How-Part-Ends-Here--*/
/*--Industries-Part-Starts-Here--*/
.industries-main h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
}
.industries-main h1 {
	font-size: 1.8em;
	font-weight: 400;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
.industries-main p {
	color: #333;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.industries-main{
	text-align:center;
}
.industries-main img{
  width: 35%;
  position: absolute;
  top: -80px;
  left: -160px;
  opacity: .2;

}
.industries-bottom{
	margin-top:8%;
}
.industries {
	padding: 5em 0px;
	background: #33afe5;
	position: relative;
	z-index: 700;
}

.inds-right h4 {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.inds-right p {
	color: #444;
	font-size: 16px;
	font-weight: 400;
	margin-top: 4%;
	margin-right: 5%;
}

.inds-right a {
	color: #333333;
	background: #c2c5c5;
	padding: 14px 17px;
	position: relative;
	margin: auto;
	top: 25px;
	left: 80px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.inds-right a:hover{
	background:#c2c5c5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

.inds-left{
	width:10%;
	float:left;
	position: relative;
	top:-50px;
	left:-10px;
}
.fab-inds.blue img{
	position: relative;
    margin: 0px auto 0px auto;
    margin-top: 20%;
	display: block;
}
.inds-right {
	width: 90%;
	float: right;
}
.inds:nth-child(2) {
	margin-top: 5%;
}
.col-md-4.industries-left:hover .inds-one,.col-md-4.industries-left.active .inds-one{
	background: rgba(145, 145, 145, 0.3);
}
.col-md-4.industries-left:hover .inds-right p,.col-md-4.industries-left.active .inds-right p{
	color:#fff;
}
.col-md-4.industries-left:hover .inds-right a,.col-md-4.industries-left.active .inds-right a{
	background:#40c781;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.inds-one {
	padding: 2.5em 0px;
}
/* --fab-inds-- */
.fab-inds {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab-inds.blue {
  background-color: #f0f0f0;
}
.fab-inds.blue:hover{
  background: #40c781;
}

.fab-inds:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  transition-delay: 0s;
}

.fab-inds > core-icon {
  margin: 16px;
}

.fab-inds > core-icon::shadow path {
  fill: #fff;
}

/*--Industries-Part-Ends-Here--*/
/*--Demo-Part-Starts-Here--*/
.demo{
	padding:2.5em 0px;
	background:#000000;
}
.demo-main{
	text-align:center;
}
.demo-left p{
	color:#fff;
	font-size:2em;
	font-weight:300;
}
.demo-right a {
	color: #333333;
	background: #00ccff;
	padding: 14px 17px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.demo-right a:hover{
	background:#c2c5c5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.demo-right {
	padding-top: 15px;
}
/*--Demo-Part-Ends-Here--*/
/*--Footer-Part-Starts-Here--*/
.footer{
	padding:4em 0px;
}
.footer-main{
	text-align:Center;
}
.footer-main p {
	color: #666666;
	font-size: 17px;
	font-weight: 400;
	margin: 15px 0px;
}
.footer-main p a{
	color: #666666;
	font-size: 17px;
}
.footer-main p a:hover{
	color: #33afe5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul{
	padding:0;
	margin-top:2%;
}
.footer-main ul li{
	list-style:none;
	display:inline-block;
	margin:0px 2px;
}
.footer-main ul li span{
	background:url(../images/footer-sprit.png) no-repeat;
	width:42px;
	height:42px;
	display:block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul li span.fb{
	background-position:1px 0px;
}
.footer-main ul li span.twt{
	background-position:-42px 0px;
}
.footer-main ul li span.p{
	background-position:-84px 0px;
}
.footer-main ul li span.d{
	background-position:-126px 0px;
}
.footer-main ul li span.fb:hover{
	background-position:0px -42px;
}
.footer-main ul li span.twt:hover{
	background-position:-42px -42px;
}
.footer-main ul li span.p:hover{
	background-position:-84px -42px;
}
.footer-main ul li span.d:hover{
	background-position:-126px -42px;
}
/*--footer-Part-Ends-Here--*/
/*--media-quaries-starts-here--*/
@media (max-width:1440px){	
}
@media (max-width:1366px){
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
#banner {
	min-height: 600px;
}
.banner-bottom h1 {
	font-size: 2.5em;
}
.banner-bottom p {
	font-size: 1.8em;
	margin-top: 5px;
	width: 85%;
}	
.banner-btm {
	text-align: center;
	margin-top: 25%;
}
.topbar{
	min-height: 74px;
}
.demo-left p {
	font-size: 1.8em;
}
.demo-right a {
	padding: 13px 15px;
	font-size: 16px;
}
.footer {
	padding: 2em 0px;
}
.footer-main p {
	font-size: 16px;
	margin: 4px 0px;
}
.logo img {
	width: 85%;
}
.who p, .who li, .how p, .industries p{
	font-size: 1.3em;
}
.why-quote p, .how-quote p{
	font-size: 2.0em;
}
.why h3, .how h3, .industries h3{
	font-size: 2.3em;
}
.who h1{
	font-size: 1.5em;
}	
}
@media (max-width:980px){
#banner {
	min-height: 600px;
}
.banner-bottom h1 {
	font-size: 2.5em;
}
.banner-bottom p {
	font-size: 1.8em;
	margin-top: 5px;
	width: 85%;
}	
.banner-btm {
	text-align: center;
	margin-top: 18%;
}
.topbar{
	min-height: 74px;
}
.demo-left p {
	font-size: 1.8em;
}
.demo-right a {
	padding: 13px 15px;
	font-size: 16px;
}
.footer {
	padding: 2em 0px;
}
.footer-main p {
	font-size: 16px;
	margin: 4px 0px;
}
.logo img {
	width: 85%;
}
.who p, .who li, .how p, .industries p{
	font-size: 1.3em;
}
.why-quote p, .how-quote p{
	font-size: 2.0em;
}
.why h3, .how h3, .industries h3{
	font-size: 2.3em;
}
.who h1{
	font-size: 1.5em;
}	
}
@media (max-width:980px){
.navigation{
	display: none !important;
	visibility: hidden !important;
}
.banner-bottom h1 {
	font-size: 2.5em;
}
.banner-bottom p {
	font-size: 1.8em;
	margin-top: 5px;
	width: 85%;
}	
.banner-btm {
	margin-top: 35%;
}	
}
@media (max-width:768px){
.who p, .who li, .how p, .industries p{
	padding-top:2%;
	font-size: 1.0em;
}
.why-quote p, .how-quote p{
	font-size: 1.7em;
}
.why h3, .how h3, .industries h3{
	font-size: 2.3em;
}
.who h1{
	font-size: 1.5em;
}
.banner-bottom h1 {
	font-size: 2.5em;
}
.banner-bottom p {
	font-size: 1.8em;
	margin-top: 5px;
	width: 85%;
}	
.banner-btm {
	margin-top: 35%;
}
}
@media (max-width:640px){
.logo img {
	width: 80%;
}
.banner-bottom h1 {
	font-size: 1.8em;
}
.banner-bottom p {
	font-size: 1.2em;
	margin-top: 5px;
	width: 85%;
}
.fab-who{
	top: -25px;
}
#banner,.back-tint {
	min-height: 390px;
}
.topbar{
	min-height: 55px;
}
.banner-btm {
	margin-top: 30%;
}
.tech-left img {
	width: 70%;
}
.tech {
	padding: 1.5em 0px;
}
.demo-left p {
	font-size: 1.6em;
}
.demo-right a {
	padding: 11px 10px;
	font-size: 13px;
}
.demo {
	padding: 1.3em 0px 2em;
}
}
@media (max-width:480px){
.logo img {
	width: 100%;
}
.logo {
	width: 40%;
}
.navigation {
	width: 50%;
	padding: 0px 20px 0em;
	height: 44px;
}
.banner-bottom h1 {
	font-size: 1.8em;
}
.banner-bottom p {
	font-size: 1.2em;
	margin-top: 5px;
	width: 85%;
}
.banner-btm {
	text-align: center;
	margin-top: 35%;
}
.tech-left:nth-child(4) {
	display: none;
}
.tech-left {
	width: 25%;
}
.tech {
	padding: 1.1em 0px;
}
.why p, .who p, .who li, .how p, .industries p{
	padding-top:2%;
	font-size: 1.0em;
}
.why-quote p, .how-quote p{
	font-size: 1.7em;
}
.why h3, .how h3, .industries h3{
	font-size: 2.3em;
}
.who h1{
	font-size: 1.1em;
}
.demo-left p {
	font-size: 1.3em;
}
.demo-right a {
	padding: 9px 7px;
	font-size: 12px;
}
.demo-right {
	padding-top: 14px;
}
.demo {
	padding: 1em 0px 1.68em;
}
.footer-main ul li span {
	height: 35px;
}
.transform-container {
  width: 90px;
 }
}
/*--media-quaries-ends-here--*/