/* 
Blue Color: #33afe5;
Green Color: #40c781;
Off White Color: #f0f0f0f0;
*/
html, body{
    font-size: 100%;
	background:	#fff;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  margin: 0px;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- Header Part Starts Here --*/
.navigation {
	width: 65%;
	float: right;
	text-align: center;
}
.logo img{
	max-width: 200px;
	display: inline-block;
	float:left;
}
ul.navig {
	padding: 0;
	display: inline;
	float: right;
	padding-top: 2%;
}
ul.navig li span {
	color: #000;
	margin: 0 15px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: 0 2px;
	position: static;

}
ul.navig li a {
	font-size: 1.04em;
	color: #000;
	font-weight: 400;
	text-decoration: none;
	padding: 11px 12px;
	background: rgba(70, 181, 227, 0);
	border: 1px solid rgba(70, 181, 227, 0);
}
ul.navig li a:hover,ul.navig li a.active {
	color: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	background: rgba(47, 169, 250, .6) ;
	border-radius: 0.3em;
	border: 1px solid rgba(255, 255, 255, 0.73);
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
	
}
/*--Header-Part-Ends-Here --*/
/*-- Banner-Part-Starts-Here--*/
.banner{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	height: 650px;
	z-index: 999;
	background-image: url(../images/banner.jpg);
	position: relative;
}
.back-tint{
	background: rgba(8,8,8, 0.5);
	min-height: 650px;
	position: relative;
	z-index: 999;
}
.banner-bottom h1 {
	color: #fff;
	font-weight: 600;
	font-size: 4.1em;
	width: 95%;
	margin: 20px auto;
	line-height: 1.4em;
}
.banner-bottom p {
	color: #33afe5;
	font-size: 2.1em;
	font-weight: 300;
	margin: 0 auto;
	width: 85%;
	margin-top: 20px;
	line-height: 1.0em;
}
.banner-bottom span{
	color: #40c781;
	font-weight: bold;
}

.banner-btm {
	text-align: center;
	margin-top: 20%;
}
.topbar{
	/*background: url(../images/banner1.jpg) no-repeat;*/
	background: rgba(255,255,255, .9);
	background-size: cover;
	min-height: 50px;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
}

/*--Banner-Part-Ends-Here--*/
/*--Tech-Part-Starts-Here--*/
.tech{
	padding:3em 0px;
	background:#fff;
}
.tech-left{
	text-align:center;
	width:20%;
	float:left;
}
/*--Tech-Part-Ends-Here--*/
/*--Why-Part-Starts-Here--*/
.why {
	background: #33afe5;
	padding: 6em 0px 7em 0px;
	position: relative;
	z-index: 900;
}
.why-top{
	text-align:center;
}
.why-top span{
	font-weight: 800;
	color: #333;
}
.why-top h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
}
.why-top p {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.why-top img{
  width: 35%;
  position: absolute;
  top: -80px;
  left: -160px;
  opacity: .2;
}
.why-bottom {
	margin-top: 2%;
}
.why-body-left{
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 5%;
}
.why-body-left p {
	color: #fff;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 200;
	padding: 2% 3% 2% 3%;
}
.why-body-left p span{
	color:#3399cc;
	margin-left:4px;
}
.why-body-right{
	margin-top: 0%;
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.why-body-right img{
	width: 90%;
    display:block;
    margin:auto;
}
.why-btm{
	margin-top:1em;
}
.who-left{
	background: rgba(255,255,255, .8);
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 10%;
	min-height: 455px;
}
.who-left p {
	color: #333;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.4em;
	margin: 5%;

}
.who-left h1 {
	width: 80%;
	margin: auto;
	text-align: center;
	color: #40c781;
	font-size: 1.8em;
	font-weight: 800;
	line-height: 1.4em;
	font-weight: 400;
	padding-bottom: 10px;
	padding-top: 25px;
	padding: 25px,25px,10px,25px;
}

.who-left ul {
    list-style: disc;
    padding:0;
    margin:2%;
    padding-bottom: 50px;
    padding-left: 35px;
}

.who-left li { 
    color : #333;
	padding: 5px 5px 10px 10px;
    text-indent: -0em;
   	font-size: 1.5em;
	font-weight: 600;
	width: 85%;
	margin: auto;
}

.who-left li:before {
    color: #40c781;
}
.who-left img{
	width: 50%;
}
/* --fab-who-- */
.fab-who.blue img{
  width: 65%;
  position: relative;
  top: 10%;
  left: 18%;
}
.fab-who {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 15px;
  left: -5px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab-who.blue {
  background-color: #f0f0f0;
}

.fab-who > core-icon {
  margin: 16px;
}

.fab-who > core-icon::shadow path {
  fill: #fff;
}
/*--Why-Part-Ends-Here--*/
/*--How-Part-Starts-Here--*/
.how {
	background: #f0f0f0;
	padding: 6em 0px 7em 0px;
	position: relative;
	z-index: 800;
}
.how-top{
	text-align:center;
}
.how-top span{
	font-weight: 800;
	color: #40c781;
}
.how-top h3 {
	color: #33afe5;
	font-size: 2.7em;
	font-weight: 400;
}
.how-top p {
	color: #333;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.how-top img{
  width: 35%;
  position: absolute;
  top: -70px;
  right: -140px;
  opacity: .2;
}
.how-bottom {
	margin-top: 2%;
}
.how-body-text{
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 5%;
}
.how-body-text p {
	color: #33afe5;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 200;
	padding: 2% 3% 2% 3%;
}
.how-body-text p span{
	color:#3399cc;
	margin-left:4px;
}
.how-body-img{
	margin-top: 0%;
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.how-body-img img{
	width: 25%;
    display:block;
    margin:auto;
}
.how-btm{
	margin-top:1em;
}
/*--How-Part-Ends-Here--*/
/*--Industries-Part-Starts-Here--*/
.industries-main h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
	margin-bottom: 1%;
}
.industries-main h1 {
	font-size: 1.8em;
	font-weight: 400;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
.industries-main p {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.industries-main{
	text-align:center;
}
.industries-main img{
  width: 35%;
  position: absolute;
  top: -80px;
  left: -160px;
  opacity: .2;

}
.industries-bottom{
	margin-top:8%;
}
.industries {
	padding: 5em 0px;
	background: #33afe5;
	position: relative;
	z-index: 700;
}

.inds-right h4 {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.inds-right p {
	color: #444;
	font-size: 16px;
	font-weight: 400;
	margin-top: 4%;
	margin-right: 5%;
}
.inds-left{
	width:10%;
	float:left;
	position: relative;
	top:-50px;
	left:-10px;
}
.fab-inds.blue img{
	position: relative;
    margin: 0px auto 0px auto;
    margin-top: 20%;
	display: block;
}
.inds-right {
	width: 90%;
	float: right;
}
.inds:nth-child(2) {
	margin-top: 5%;
}
.col-md-4.industries-left:hover .inds-one,.col-md-4.industries-left.active .inds-one{
	background: rgba(145, 145, 145, 0.3);
}
.col-md-4.industries-left:hover .inds-right p,.col-md-4.industries-left.active .inds-right p{
	color:#fff;
}
.inds-one {
	padding: 2.5em 0px;
}
/* --fab-inds-- */
.fab-inds {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab-inds.blue {
  background-color: #f0f0f0;
}
.fab-inds.blue:hover{
  background: #40c781;
}

.fab-inds:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  transition-delay: 0s;
}

.fab-inds > core-icon {
  margin: 16px;
}

.fab-inds > core-icon::shadow path {
  fill: #fff;
}

/*--Industries-Part-Ends-Here--*/
/*--Demo-Part-Starts-Here--*/
.demo{
	padding:2.5em 0px;
	background:#000000;
}
.demo-main{
	text-align:center;
}
.demo-left p{
	color:#fff;
	font-size:2em;
	font-weight:300;
}
.demo-right a {
	color: #333333;
	background: #00ccff;
	padding: 14px 17px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.demo-right a:hover{
	background:#c2c5c5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.demo-right {
	padding-top: 15px;
}
/*--Demo-Part-Ends-Here--*/
/*--Contact-Part-Starts-Here--*/
.contact{
	padding:7em 0px;
}
.contact-top{
	text-align:center;
}
.contact-bottom{
	text-align:center;
	margin-top:10%;
}
.contact-bottom input[type="text"] {
	width: 50%;
	color: #999999;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 17px 25px;
	margin-bottom: 1em;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-bottom textarea {
	resize: none;
	width: 50%;
	margin: 0 auto;
	color: #999999;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	outline: none;
	padding: 15px 25px;
	border: solid 1px #D5D4D4;
	min-height: 13.2em;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #33afe5;
	padding: 15px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 1.5em;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"]:hover {
	background: #363636;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--Contact-Part-Ends-Here--*/
/*--Footer-Part-Starts-Here--*/
.footer{
	padding:4em 0px;
}
.footer-main{
	text-align:Center;
}
.footer-main p {
	color: #666666;
	font-size: 17px;
	font-weight: 400;
	margin: 15px 0px;
}
.footer-main p a{
	color: #666666;
	font-size: 17px;
}
.footer-main p a:hover{
	color: #33afe5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul{
	padding:0;
	margin-top:2%;
}
.footer-main ul li{
	list-style:none;
	display:inline-block;
	margin:0px 2px;
}
.footer-main ul li span{
	background:url(../images/footer-sprit.png) no-repeat;
	width:42px;
	height:42px;
	display:block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul li span.fb{
	background-position:1px 0px;
}
.footer-main ul li span.twt{
	background-position:-42px 0px;
}
.footer-main ul li span.p{
	background-position:-84px 0px;
}
.footer-main ul li span.d{
	background-position:-126px 0px;
}
.footer-main ul li span.fb:hover{
	background-position:0px -42px;
}
.footer-main ul li span.twt:hover{
	background-position:-42px -42px;
}
.footer-main ul li span.p:hover{
	background-position:-84px -42px;
}
.footer-main ul li span.d:hover{
	background-position:-126px -42px;
}
/*--footer-Part-Ends-Here--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/top-arrow.png) no-repeat;
}
