html, body{
    font-size: 100%;
	background:	#fff;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  margin: 0px;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- Header Part Starts Here --*/
.navigation {
	width: 65%;
	float: right;
	text-align: center;
}
.logo img{
	max-width: 200px;
	display: inline-block;
	float:left;
}
ul.navig {
	padding: 0;
	display: inline;
	float: right;
	padding-top: 2%;

}
ul.navig li span {
	color: #000;
	margin: 0 15px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: 0 2px;
	position: relative;
}
ul.navig li a {
	font-size: 1.04em;
	color: #000;
	font-weight: 400;
	text-decoration: none;
	padding: 11px 12px;
	background: rgba(70, 181, 227, 0);
	border: 1px solid rgba(70, 181, 227, 0);
}
ul.navig li a:hover,ul.navig li a.active {
	color: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	background: rgba(47, 169, 250, .6) ;
	border-radius: 0.3em;
	border: 1px solid rgba(255, 255, 255, 0.73);
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
	
}
/*--Header-Part-Ends-Here --*/
.banner{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	height: 650px;
}
.back-tint{
	background: rgba(8,8,8, 0.5);
	min-height: 650px;
}
.banner-bottom h1 {
	color: #fff;
	font-weight: 600;
	font-size: 3.2em;
	width: 90%;
	margin: 20px auto;
	line-height: 1.4em;
}
.banner-bottom p {
	color: #33afe5;
	font-size: 2.0em;
	font-weight: 300;
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
	line-height: 1.0em;
}
.banner-bottom span{
	color: #40c781;
}

.banner-btm {
	text-align: center;
	margin-top: 20%;
}
.topbar{
	/*background: url(../images/banner1.jpg) no-repeat;*/
	background: rgba(255,255,255, .2);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 50px;
	position:fixed;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
}

/*--Banner-Part-Ends-Here--*/
/*--Tech-Part-Starts-Here--*/
.tech{
	padding:3em 0px;
	background:#f0f0f0;
}
.tech-left{
	text-align:center;
	width:20%;
	float:left;
}
/*--Tech-Part-Ends-Here--*/
/* FAB */
.fab {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab.red {
  background-color: #d23f31;
}

.fab.blue {
  background-color: #2fa9fa;
}
.fab.blue:hover{
  background: #40c781;
}

.fab.green {
  background-color: #40c781;
}

.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
  transition-delay: 0s;
}

.fab > core-icon {
  margin: 16px;
}

.fab > core-icon::shadow path {
  fill: #fff;
}

/*--Industries-Part-Starts-Here--*/
.industries-main h3,.special-bottom h3,.contact-top h3,.pricing-top h3{
	color: #333333;
	font-size: 1.7em;
	font-weight: 900;
	margin: 4% 0 0 0;
}
.industries-main p,.special-bottom p,.contact-top p,.pricing-top p{
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	margin: 10px auto 0;
	width: 50%;
	line-height: 1.4em;
}
.industries-main{
	text-align:center;
}
.industries-main h1{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
.industries-bottom{
	margin-top:8%;
}
.industries {
	padding: 5em 0px;
}

.inds-right h4 {
	color: #3399cc;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.inds-right p {
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	margin-top: 4%;
	margin-right: 5%;
}
.inds-left{
	width:10%;
	float:left;
	position: relative;
	top:-50px;
	left:-10px;
}
.fab.blue img{
	position: relative;
    margin: 0px auto 0px auto;
    margin-top: 20%;
	display: block;
}
.inds-right {
	width: 90%;
	float: right;

}
.inds:nth-child(2) {
	margin-top: 5%;
}
.col-md-4.industries-left:hover .inds-one,.col-md-4.industries-left.active .inds-one{
	background: rgba(204, 204, 204, 0.3);
}
.col-md-4.industries-left:hover .inds-right p,.col-md-4.industries-left.active .inds-right p{
	color:#666666;
}
.inds-one {
	padding: 2.5em 0px;
}
/*--Industries-Part-Ends-Here--*/
/*--Special-Part-Starts-Here--*/
.special {
	background: #f0f0f0;
	padding-bottom: 6.5em;
}
.special-bottom{
	margin-top:10%;
	text-align:center;
}
.spl-one {
	text-align: center;
	padding: 14% 0 11% 0;
}
.spl-one span{
	background:url(../images/spl-sprit.png) no-repeat;
	width:70px;
	height:65px;
	margin:0 auto;
	display:block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.spl-one span.hnd{
	background-position:0px 0px;
}
.spl-one span.wtp{
	background-position:-74px 0px;
}
.spl-one span.sml{
	background-position:-144px 0px;
}
.spl-one span.dar{
	background-position:-210px 0px;
}
.col-md-3.spl-left:hover .spl-one span.hnd{
	background-position:0px -65px;
}
.col-md-3.spl-left:hover .spl-one span.wtp, .col-md-3.spl-left.active .spl-one span.wtp{
	background-position:-74px -65px;
}
.col-md-3.spl-left:hover .spl-one span.sml{
	background-position:-144px -65px;
}
.col-md-3.spl-left:hover .spl-one span.dar{
	background-position:-210px -65px;
}
.spl-one h4 {
	font-size: 1.4em;
	font-weight: 400;
	margin: 20% 0 0 0;
	color: #999999;
}
.spl-one p {
	color: #00ccff;
	font-size: 3.5em;
	font-weight: 300;
	margin-top: 2%;
}
.col-md-3.spl-left {
	border: 2px solid rgba(153, 153, 153, 0.27);
	border-top: 0;
}
.col-md-3.spl-left:nth-child(2),
.col-md-3.spl-left:nth-child(3),
.col-md-3.spl-left:nth-child(4){
	border-left:0;
}
.col-md-3.spl-left:hover ,.col-md-3.spl-left.active{
	background:#f5f5f5;
}
.col-md-3.spl-left:hover .spl-one h4,.col-md-3.spl-left.active .spl-one h4{
	color: #333333;
}
/*--Special-Part-Ends-Here--*/

/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
	background: rgba(51, 175, 229, 0.85);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 #portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 32%;
		display:none;
		float:left;
		overflow:hidden;
		margin: 0 1% 1% 0;
	}
div#portfoliolist {
	padding: 5.5% 0px;
}
.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
   }
.row:after,
.clearfix:after {
  clear: both;
   }
.row,
.clearfix {
  zoom: 1;
   }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---------------*/
/*--Special-Part-Ends-Here--*/
.special-btm {
	margin-top: 5%;
}
/*--pricing-Part-Starts-Here--*/
.pricing-top{
	text-align:center;
}
.pricing{
	padding:7em 0;
}
.pricing-bottom{
	margin-top:10%;
}
.pricing-left{
	text-align:center;
	border:1px solid #cccccc;
	padding:3em 15px;
}
.pricing-left:nth-child(1),.pricing-left:nth-child(2){
	border-right:none;
}
.price-one h4{
	color:#ff0000;
	margin:0;
	font-size:1.35em;
	font-weight:700;
}
.price-one h6 {
	color: #000000;
	margin: 9% 0 8% 23px;
	font-size: 1.9em;
	font-weight: 700;
}
.price-one h6 sup {
	font-size: 18px;
	top: -.3em;
}
.price-one h6 sub {
	font-size: 13px;
	bottom: 1px;
}
.price-one p {
	color: #333333;
	font-size: 15px;
	border-top: 1px solid #cccccc;
	padding: 10px 0px;
	font-weight: 700;
}
.price-one p:nth-child(9) {
	border-bottom: 1px solid #cccccc;
}
.col-md-4.pricing-left:hover .price-one span,.col-md-4.pricing-left.active .price-one span {
	display: block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.price-one span {
	background: url(../images/price-2.png) no-repeat;
	width: 98px;
	height: 95px;
	display: block;
	position: absolute;
	top: 0;
	left: 74.5%;
	display: none;
}
.p-btn {
	margin-top:11.5%;
}
.p-btn a {
	padding: 8px 18px;
	border: 1px solid #333333;
	color: #333333;
	font-size: 12px;
	font-weight: 900;
	background:#fff;
}
.col-md-4.pricing-left:hover .p-btn a,.col-md-4.pricing-left.active .p-btn a{
	background:#2ea8fa;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--Pricing-Part-Ends-Here--*/
/*--Why-Part-Starts-Here--*/
.why {
	background: #33afe5;
	padding: 6em 0px 7em 0px;
}
.why-top{
	text-align:center;
}
.why-top span{
	font-weight: 800;
	color: #40c781;
}
.why-top h3 {
	color: #fff;
	font-size: 2.7em;
	font-weight: 400;
}
.why-top p {
	color: #fff;
	font-size: 1.5em;
	font-weight: 200;
	width: 80%;
	padding-top: 5px;
	margin: auto;
}
.why-top img{
	width: 4%;
	margin-top: -4%;
}
.why-bottom {
	margin-top: 2%;
}
.why-body-left{
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-top: 5%;
}
.why-body-left p {
	color: #fff;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 200;
	padding: 2% 3% 2% 3%;
}
.why-body-left p span{
	color:#3399cc;
	margin-left:4px;
}
.why-body-right{
	margin-top: 0%;
	padding: 3em 0px 2.5em 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.why-body-right img{
	width: 90%;
    display:block;
    margin:auto;
}
.why-btm{
	margin-top:1em;
}

/*--Why-Part-Ends-Here--*/
/*--Demo-Part-Starts-Here--*/
.demo{
	padding:2.5em 0px;
	background:#000000;
}
.demo-main{
	text-align:center;
}
.demo-left p{
	color:#fff;
	font-size:2em;
	font-weight:300;
}
.demo-right a {
	color: #333333;
	background: #00ccff;
	padding: 14px 17px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.demo-right a:hover{
	background:#c2c5c5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.demo-right {
	padding-top: 15px;
}
/*--Demo-Part-Ends-Here--*/
/*--Contact-Part-Starts-Here--*/
.contact{
	padding:7em 0px;
}
.contact-top{
	text-align:center;
}
.contact-bottom{
	text-align:center;
	margin-top:10%;
}
.contact-bottom input[type="text"] {
	width: 50%;
	color: #999999;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 17px 25px;
	margin-bottom: 1em;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-bottom textarea {
	resize: none;
	width: 50%;
	margin: 0 auto;
	color: #999999;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	outline: none;
	padding: 15px 25px;
	border: solid 1px #D5D4D4;
	min-height: 13.2em;
	-webkit-appearance: none;
	font-weight: 700;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #33afe5;
	padding: 15px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 1.5em;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
.contact-but input[type="submit"]:hover {
	background: #363636;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--Contact-Part-Ends-Here--*/
/*--Footer-Part-Starts-Here--*/
.footer{
	padding:4em 0px;
}
.footer-main{
	text-align:Center;
}
.footer-main p {
	color: #666666;
	font-size: 17px;
	font-weight: 400;
	margin: 15px 0px;
}
.footer-main p a{
	color: #666666;
	font-size: 17px;
}
.footer-main p a:hover{
	color: #33afe5;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul{
	padding:0;
	margin-top:2%;
}
.footer-main ul li{
	list-style:none;
	display:inline-block;
	margin:0px 2px;
}
.footer-main ul li span{
	background:url(../images/footer-sprit.png) no-repeat;
	width:42px;
	height:42px;
	display:block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul li span.fb{
	background-position:1px 0px;
}
.footer-main ul li span.twt{
	background-position:-42px 0px;
}
.footer-main ul li span.p{
	background-position:-84px 0px;
}
.footer-main ul li span.d{
	background-position:-126px 0px;
}
.footer-main ul li span.fb:hover{
	background-position:0px -42px;
}
.footer-main ul li span.twt:hover{
	background-position:-42px -42px;
}
.footer-main ul li span.p:hover{
	background-position:-84px -42px;
}
.footer-main ul li span.d:hover{
	background-position:-126px -42px;
}
/*--footer-Part-Ends-Here--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/top-arrow.png) no-repeat;
}
