{{ define "page-header"}} 
    <div class="col mb-2">
        {{ if .Draft }} <div style="color:#fff; background-color: rgb(255, 137, 137); text-align:center; padding: 10px">DRAFT</div>  {{ end }}
    </div>
    <h1>{{ .Title }}</h1>
    <div id="post-subtitle">{{.Params.subtitle}}</div>
{{ end }}


{{ define "main" }}
    <!-- <h2></h2> -->
    <div class="row mb-2" style="font-size: .9em; color:#777">
            <div class="col-12">
                <span class="mr-3">Originally published: {{.Date.Format "Jan 2, 2006"}}</span>
                <!-- <i class="fa fa-clock-o"></i>  -->
                <!-- <span class=""><i class="fa fa-pencil"></i> {{ .WordCount}} words</span> -->
            </div>
    </div>
    <!-- <hr/> -->
    <div class="row py-2 mb-3">
            <div id="post-content" class="col">
                {{ .Content }}
            </div>
    </div>

    <hr>

    {{- partial "header.html" . -}}

    <!-- <div> Reading time: {{ .ReadingTime}} minutes </div>
    <div> Word Count: {{ .WordCount}} words </div> -->

        
{{ end }}

{{ define "footer" }} {{ end }}
