<% var root = (environment == "production") ? "/" : "/" %>

<div class="bg">
    <div id="demo-section" class="container section">
    	<a class="anchor" id="demo"></a>
    	<!-- Cloud
		Run FeatureLab in a secure cloud
		 -->
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Contact us</div>
    		</div>
			<div class="col s12">
				<div class="demo-header center-align"><a href="<%- root %>contact" class="waves-effect waves-light btn green-bg">Request a demo </a></div>
    		</div>
		</div>
	</div>
</div>