<div class="bg">
    <div id="transforming-industries" class="container section">
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Transforming Industries</div>
    		</div>
    		<div class="col s12 body">
				<div> FeatureLab is based on years of research into data science bottlenecks and applications. As a result, the core technology is applicable in many different industries and domains. The ambitions of FeatureLab to power the future of data science are matched only by the of companies using it.</div>
    		</div>
    		<div class="col s12">
				<div class="top20 center-align">
					<a href="<%- root %>industry" class="waves-effect waves-light btn green-bg">Learn more</a>
				</div>
    		</div>
			
		</div>
	</div>
</div>