<div class="navbar-fixed">
	<nav class="white-bg">
	  <div class="nav-wrapper">
	    <a href="<%- root %>" class="brand-logo"><img src="<%- root %>img/logo.png" alt=""></a>
	    <!-- <ul class="right hide-on-med-and-down">
	      <li><a href="sass.html">Sass</a></li>
	      <li><a href="badges.html">Components</a></li>
	      <li class="active"><a href="collapsible.html">JavaScript</a></li>
	    </ul> -->
	  </div>
	</nav>
</div>