<% var root = (environment == "production") ? "/v2/" : "/" %>

<div class="bg gplay-bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12">
    			<h3 class="main-header">Contact Us</h3>

				<h5 class="sub-header">
					Let us know how we can help you
				</h5>

            </div>

    	</div>
    </div>
</div>

<div class="bg">
    <div class="container section">
        <div class="row">
            <div class="col s12">
                <div class='contact-main'>
				<div id="wufoo-m169g65p1yfj25u">
				Fill out my <a href="https://kmax12.wufoo.com/forms/m169g65p1yfj25u">online form</a>.
				</div>
				<script type="text/javascript">var m169g65p1yfj25u;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'kmax12',
				'formHash':'m169g65p1yfj25u',
				'autoResize':true,
				'height':'673',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { m169g65p1yfj25u = new WufooForm();m169g65p1yfj25u.initialize(options);m169g65p1yfj25u.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
			</div>
            </div>
        </div>
    </div>
</div>
