<div class="bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12">
    			<h3 class="main-header">How it Works</h3>

				<h5 class="sub-header">
					Using new technology, FeatureLab opens up the world of data science to anyone who has question about data.
				</h5>
    		</div>
    	</div>
    </div>
</div>


<div class="bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12">
    		The process of transforming raw data into useful representations is at the core of data science. Even with the most advanced technologies, human involvement is still needed to brainstorm, implement, and evaluate ideas for representing data to a machine learning algorithm.
    		</div>
    	</div>

    	<div class="row">
    		<div class="col s12">
    		Workbench's approach uses artifical intelligence to emulate human data scientists. This means automated discovery of the most valuable transformations, as well recommendations on how to improve established models.
    		</div>
    	</div>

    	<div class="row">
    		<div class="col s12">
    		Using a new technology called Deep Feature Synthesis (DFS), Workbench mines the relationships in your data to build these transformations automatically.

			With an initial model built, Workbench recommends which refinements are best suited for your dataset, allowing you, the data expert, to choose the best path forward.
    		</div>
    	</div>
    </div>
</div>