<% var root = (environment == "production") ? "/v2/" : "/" %>


<div class="bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12 m6 ">
    			<h3 class="main-header">Do more with your data,
				without more data scientists</h3>

				<h5 class="sub-header">
					FeatureLab is the best solution for companies to increase their data science resources.
				</h5>

				<div class="request-demo-header">
					<a class="waves-effect waves-light btn green-bg">Request a demo </a>
					<a href="<%- root %>how-it-works" class="waves-effect waves-light btn green-bg">How it works </a>
				</div>
    		</div>

    		<div class="col s12 m6">
    			<div class="video-container">
    				<iframe src="https://player.vimeo.com/video/137993208?badge=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    				<!-- 
    				<iframe src="https://www.youtube.com/embed/0asEB-l7mUQ" frameborder="0" allowfullscreen></iframe> -->
    			</div>
    		</div>
    	</div>
    </div>
</div>

<div class="bg">
    <div id="features-section" class="container section">
    	<a class="anchor" id="features"></a>
    	<!-- Cloud
		
		 -->
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Features</div>
    		</div>
		</div>
    	<div  class="row feature-container">

    		<% for(var f in public._data.features){ %>
					<div class="col s12 m6 l4">
		    			<div class="feature-icon"><div class="placeholder-icon"></div></div>
		    			<div class="feature-text">
			    			<div class="feature-header"><%- public._data.features[f].header %></div>
			    			<div class="feature-body"><%- public._data.features[f].body %></div>
		    			</div>
		    		</div>

            <% }; %>  
    	</div>
    </div>
</div>


<div class="bg">
    <div id="why-section" class="container section">
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Why FeatureLab?</div>
    		</div>
		</div>

		<div class="row">
			<div class="col s12 m6">
				<div class="light-blue-bg card-panel why-container">
					<div class="why-header"> Business/Product Specialist</div>
					<div class="why-text">Whether you are a CEO or Product Manager, data insights can help you do your job. With FeatureLab you can:</div>

					<div class="why-bullets">
						<ul>
							<li>find insights without assistance</li>
							<li>build machine learning models with one click</li>
							<li>improve models with domain expertise</li>
						</ul>	
					</div>
				</div>
    		</div>

    		<div class="col s12 m6">
				<div class="why-container light-blue-bg card-panel">
					<div class="why-header">Data Scientist</div>
					<div class="why-text">You understand your data and all the techniques to analyze it, but time is your most valuable resource. FeatureLab enables you to: </div>
					<div class="why-bullets">
						<ul>
							<li>avoid repetitive data analysis tasks</li>
							<li>iterate more effectively with recommendations</li>
							<li>only write custom code when necessary</li>
						</ul>	
					</div>
				</div>
    		</div>
		</div>
    	
    </div>
</div>




<%- partial("_industries") %>

