<div class="blue-bg">
	    <div class="container section">
	    	<!-- <div class="row">
	    		<div class="col s12">
	    			<h2>Industries</h2>
	    		</div>
	    	</div> -->
	    	<div class="row">
	    		<div class="col s12 center-align"> <h3 class="main-header">There is valuable data in every Industry</h3></div>
	    		<div class="col s12 offset-m3 m6 ">
	    			<div class="sub-header">
	    				<h5>Data science expertise is the standard for any company to be competitive across all industries.</h5>
						<p>FeatureLab provides the best cross-domain tools for any company to gain competitive advantages in their field of business. See how FeatureLab can help your company turn data into value.</p>
					</div>
	    		</div>
	    	</div>
	    </div>
	</div>

	<div class="grey-bg">
	    <div id="demo-section" class="container section">
	    	<a class="anchor" id="demo"></a>
	    	<!-- Cloud
			Run FeatureLab in a secure cloud
			 -->
			<div class="row">
				<div class="col s12">
					<div class="demo-header center-align"><a class="waves-effect waves-light btn-large green-bg">Request a demo </a></div>
	    		</div>
			</div>
		</div>
	</div>

	<div class="blue-bg">
	    <div id="industries-section" class="container section">
	    	<a class="anchor" id="industries"></a>
	    	<!-- Cloud
			Run FeatureLab in a secure cloud
			 -->
			<div class="row industries-container">
				<div class="col s12 m4">
					<div class="industry-container">
						<div class="industry-header">Retail</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
	    		<div class="col s12 m4">
	    			<div class="industry-container">
						<div class="industry-header">E-Commerce</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
	    		<div class="col s12 m4">
	    			<div class="industry-container">
						<div class="industry-header">Financial Services</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
	    		<div class="col s12 m4">
	    			<div class="industry-container">
						<div class="industry-header">Government</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
	    		<div class="col s12 m4">
	    			<div class="industry-container">
						<div class="industry-header">Crowdfunding</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
	    		<div class="col s12 m4">
	    			<div class="industry-container">
						<div class="industry-header">Education</div>
						<div class="industry-icon">
							<div class="placeholder-icon"></div>
						</div>
					</div>
	    		</div>
			</div>
		</div>
	</div>