<head>
    <meta charset="utf-8">
    <title>{{ if .Title }}{{ .Title }} | {{ end }} {{ .Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link rel="stylesheet" type='text/css' href="/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" />


    {{ template "_internal/opengraph.html" . }}

	<meta property="og:image" content="{{ .Site.BaseURL }}open-graph.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>