<head>
    <meta charset="utf-8">
    <title>{{ if .Title }}{{ .Title }} | {{ end }} {{ if and (eq .Section "posts") .IsPage }}Induced Perspectives{{ else }} {{ .Site.Title }} {{ end }}  </title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link rel="stylesheet" type='text/css' href="/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" />


    {{ template "_internal/opengraph.html" . }}
    <meta name="twitter:card" content="summary_large_image">

    {{ if .Params.og_image }}
        <meta property="og:image" content="{{ .Params.og_image | absURL }}"/>
        <meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}"/>
        <meta name="twitter:image" content="{{ .Params.og_image | absURL }}">
        {{ else }}
        <meta property="og:image" content="{{.Site.Params.og_image | absURL}}" />
        <meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
        <meta name="twitter:image" content="{{ .Site.Params.og_image | absURL }}">
    {{ end }}
<meta name="twitter:image" content="https://solar.jmaxkanter.com/og_image.jpg">

	
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>