<div class="container">
    <div class="row">
            <div style="" class="pr-2">
                <img id="max" src="/images/max.jpg"/>
            </div>
            <div class="col align-self-center">
                <h1>Max Kanter</h1>
                <div class="social-icons">
                    <a href="https://twitter.com/maxk" target="_blank" class="mr-2"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/jmaxkanter/" target="_blank" class="mx-2"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/kmax12" target="_blank" class="ml-2"><i class="fa fa-github"></i></a>
                </div>
            </div>
    </div>
</div>
