

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

html{
	color: #424242;
}

.top20{
	margin-top: 20px;
}
.section{
	padding: 20px 0px;
	margin-bottom: 0px;
}

.white-bg{
	background: #fff!important;
}

.grey-bg, .bg:nth-child(odd){
	background: #E9E9E9;
}

.blue-bg, .bg:nth-child(even){
	background: rgb(46, 120, 152);
	color: #fff;
}

.blue-bg a, .bg:nth-child(even) a{
	color: #fff;
}

.btn{
	background-color: #FF9900!important;
}

.light-blue-bg{
	background: #D7EFFA;
	color: #444;
}


.brand-logo img{
	height: 46px;
    margin-top: 10px;
    margin-left: 20px;
	/*filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);*/
}

.section-header{
	font-size: 45px;
	font-weight: 300;
}

.blue-bg .section-header{
	color: #f0f0f0;
}

.grey-bg .section-header{
	color: rgb(70, 114, 137);
}




.main-header{
	font-weight: 300;
}

.sub-header{

}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.request-demo-header{
	margin-bottom: 10px;
}

.request-demo-header .btn{
	margin: 5px 5px 0 0;
}

/* ==========================================================================
   Why FeatureLab styles
   ========================================================================== */


.why-container{
	padding: 30px 25px 23px 25px !important;
}
.why-header{
	font-size: 26px;
    text-align: center;
    font-weight: 300;
    color: #40c781;
    margin-bottom: 10px;
}

.why-text{
	font-size: 18px;
}

.why-bullets{
	font-size: 18px;
}

.why-bullets ul {
	padding: 0px 20px;
	list-style-type: disc;
}

.why-bullets li {
	list-style-type: disc;
}



#demo-section > .row{
	margin-bottom: 0px;
}

#demo-btn{
	bac
}

/* ==========================================================================
   Feature styles
   ========================================================================== */


.feature-container > .col{
	 height: 118px;
}

.feature-icon{
	width: 25%;
	float: left;
    /*margin: 17px 5px 0 0;*/
}

.feature-icon > img{
	height: 60px;
    width: 60px;
    margin: auto;
    display: block;
}

.placeholder-icon{
	border: 6px solid #FF9900;
    height: 60px;
    width: 60px;
    border-radius: 22px;
    margin: auto;
}

.feature-header{
	font-weight: bold;
}

.feature-text{
	width: 75%;
	float: right;
}

.feature-body{
	font-size: 14px;
}


.industries-container > .col {
	padding: 10px;
}

.industry-container{
	padding: 20px;
	text-align: center;
}


.industry-container:hover{
    background: #D7EFFA;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    color: #444;
    border-radius: 2px;
}

.industry-header{
	text-align: center;
    font-weight: 300;
    font-size: 26px;
}
.industry-more{
	margin-bottom: 5px;
}




#transforming-industries .body>div{
	font-size: 20px;
}



.how-header{
	font-weight: 300;
	font-size: 26px;
    margin-bottom: -13px;
    margin-left: -2px;
}
.how-quote{
	font-weight: 300;
	font-size: 32px;	
}