<div class="bg blue-bg">
    <div class="container section">
      <!-- <div class="row">
        <div class="col s12">
          <h2>Industries</h2>
        </div>
      </div> -->
      <div class="row">
        <div class="col s12 center-align"> <h3 class="main-header">Data Science for <%= public.industry._data[current.source].name %></h3></div>
        <div class="col s12 offset-m3 m6 ">
          <%- yield %> 
        </div>
      </div>             
    </div>
</div>

<%- partial("../_contact") %>
