<div class="navbar">
	<nav class="white-bg">
	  <div class="nav-wrapper">
	    <a href="<%- root %>" class="brand-logo"><img src="<%- root %>img/logo.png" alt=""></a>
	    <ul id="navbar-links" class="right hide-on-med-and-down">
	      <li><a href="<%- root %>about">About</a></li>
	      <li><a href="https://www.featuretools.com">Featuretools Platform</a></li>
	      <li><a href="<%- root %>contact">Contact</a></li>
	    </ul>
	  </div>
	</nav>
</div>
