<% var root = (environment == "production") ? "/" : "/" %>

<div class="bg gplay-bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12">
    			<h3 class="main-header">About us</h3>

				<h5 class="sub-header">
                    <ul>
                        <li>Founded in June 2015</li>
                        <li>Headquartered in Boston, Massachusetts</li>
                    </ul>
				</h5>

            </div>

    	</div>
    </div>
</div>

<div class="bg">
    <div id="team-container" class="container section">
        <div class="row">
            <div class="person-wrapper col s12 m4">
                <img class="team-img" src="<%- root %>img/ben_outside.JPG" />
                <div class="team-name">Ben Schreck</div>
            </div>
            <div class="person-wrapper col s12 m4">
                <img class="team-img" src="<%- root %>img/max_outside.JPG" />
                <div class="team-name">Max Kanter</div>
                <a href="http://www.jmaxkanter.com">Website</a>
            </div>
            <div class="person-wrapper col s12 m4">
                <img class="team-img" src="<%- root %>img/kalyan_outside.JPG" />
                <div class="team-name">Kalyan Veeramachaneni</div>
                <a href="http://www.kalyanv.org/">Website</a>
            </div>
        </div>
    </div>
</div>

<%- partial("_contact") %>
