<% var root = (environment == "production") ? "/" : "/" %>

<div class="bg gplay-bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12">
    			<h3 class="main-header">How it Works</h3>

				<h5 class="sub-header">
					Have questions about your data? FeatureLab will help you find the answers.
				</h5>
    		</div>
    	</div>
    </div>
</div>


<div class="bg">
    <div class="container section">
        <div class="row">
            <div class="col s12 m6">
                <p class="how-header">Transform data</p>
                <p>At its core, data science is about transforming raw data into useful representations. Even with the most advanced technologies, human involvement is still needed to brainstorm, implement, and evaluate ideas for representing data to a machine learning algorithm.</p>

                <p>FeatureLab separates implementation from high-level abstractions, allowing engineers and data scientists to focus on what they do best: intuitively generate and test experiments and hypotheses.</p>

            </div>
            <div class="col s12 m6">
                <img class="how-step-img" src="<%- root %>img/how/1.gif" />
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m6 ">
                <p class="how-header">Build optimized models</p>

                <p>FeatureLab helps you select optimal variables, build appropriate models, and choose the refinements best suited for your dataset. Armed with this knowledge, you can take the best path forward.</p>
            </div>
            <div class="col s12 m6">
                <img class="how-step-img" src="<%- root %>img/how/2.gif" />
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m6">
                <p class="how-header">Operationalize predictions</p>
                <p> Your predictive model in hand, FeatureLab helps you put your data to use. It’s easy to highlight insights, test hypotheses with simulated inputs, and export batch predictions for use in other applications. </p>
            </div>
            <div class="col s12 m6">
                <img class="top20 how-step-img" src="<%- root %>img/how/3.gif" />
            </div>
        </div>
    </div>
</div>

<div class="bg cube-bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12 m8 offset-m2 l10 offset-m1">
                <div class="how-quote">
                        <blockquote>
 "FeatureLab helps you auto-generate high-fidelity models in minutes, and provides an innovative suite of tools to improve the solution." </blockquote>

                </div>
            </div>
        </div>
    </div>
</div>


<%- partial("_contact") %>
