body{
    font-family: 'Lato', sans-serif!important;
    background-color: #F8F8F8;
    color:#444;
    font-size: 1.2rem;
}

@media (min-width: 1200px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 720px;
    }
}

#max{
    width: 150px;
    border-radius: 100px;
}

.fa{
    font-size: 1.3em!important;
}

a, a:hover{
    color:#001287;
}

h1 a {
    color:#444;
    text-decoration: none!important;    
}

.social-icons > a {
    color: #444;
}


