{% extends "base.html" %}


{% block main %}
<div id="contact" class="template-container">
			<div class="title">
				Reach me all over the web
			</div>
			<div class="content">
				<div id="contact-column-wrapper">
					<div class="two-column">
						<p><span class="highlight">Gmail:</span> <a href="mailto:kmax12@gmail.com">kmax12@gmail.com</a></p>
						<p><span class="highlight">Github:</span> <a href="http://github.com/kmax12">kmax12</a></p>
						<p><span class="highlight">Linkedin:</span> </span><a href="http://www.linkedin.com/in/jmaxkanter">Max Kanter</a></p>
					</div>
					<div class="two-column">
						<p><span class="highlight">Facebook:</span> <a href="http://facebook.com/jmaxkanter">Max Kanter</a></p>
						<p><span class="highlight">Twitter:</span> <a href="http://twitter.com/maxykanter">maxykanter</a></p>
						<p><span class="highlight">Google+:</span> </span><a href="https://plus.google.com/113862062737246021425/posts">Max Kanter</a></p>
					</div>
				</div>
			</div>
			<img id="pick-arrow" class="arrow" src="static/img/arrows/pick.png"/>
</div>
{% endblock %}
