{% extends "base.html" %}


{% block main %}
<div id="experience">
	<div class="title">
		Work Experience
	</div>
	<div id = "experience-content" class="content">
		<ul>
			<li>Software Engineer at Twitter (May 2012 - Present)</li>
			<li>Applications Developer at Hewlett-Packard (June 2011 - August 2011)</li>
			<li>Software Engineer at Rehabilitation Institute of Chicago (June 2010 - August 2010)</li>
			<li>Freelance mobile application developer (June 2009 - June 2011) </li>
		</ul>
	</div>
</div>
{% endblock %}
