{% extends "base.html" %}


{% block main %}
<div id="experience">
	<div class="title">
		Work Experience
	</div>
	<div id = "experience-content" class="content">
		<ul>
			<li>Data Scientist at MIT Computer Science and AI Lab (June 2015 - October 2015)</li>
			<li>Software Engineer at The New York Time (June 2014 - August 2014)</li>
			<li>Software Engineer at Fitbit (May 2013 - August 2013)</li>
			<li>Software Engineer at Twitter (May 2012 - August 2012)</li>
			<li>Applications Developer at Hewlett-Packard (June 2011 - August 2011)</li>
			<li>Software Engineer at Rehabilitation Institute of Chicago (June 2010 - August 2010)</li>
			<li>Freelance mobile application developer (June 2009 - June 2011) </li>
		</ul>
	</div>
</div>
{% endblock %}
