{% extends "base.html" %}
{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div id="me" class="template-container">
			<p><img id="max-photo" src="/static/img/max.jpg" /> I am the CEO of <a href="http://www.featurelab.co">FeatureLab</a> where we make data science automation tools. The company is inspired by research I did as an undergraduate and graduate student at MIT with <a href="http://www.kalyanv.org/">Kalyan Veeramachaneni</a>.</p>
			
			<p>In the past, I have built or contributed to the related content recommendation engine for <a href="http://nytimes.com">The New York Times</a>, sleep quality algorithms at <a href="https://fitbit.com">Fitbit</a>, and search frontend features at <a href="https://twitter.com">Twitter</a>.</p>

			<p>While in school, I was an investment team member with <a href="http://dormroomfund.com">Dorm Room Fund</a> where I helped invest $20k at a time in student startups.</p>

			<p>I like to work on</p>
			<ul style="margin-top:-10px">
				<li style="margin-left:12px">Data Science</li>
				<li style="margin-left:12px">Big data engineering</li>
				<li style="margin-left:12px">Start-ups</li>
			</ul>
</div>
{% endblock %}
