{% extends "base.html" %}
{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div id="me" class="template-container">
			<p><img id="max-photo" src="/static/img/max.jpg" /> I am the CEO of <a href="http://www.feature-labs.com">Feature Labs</a>, a startup building data science automation technology. The company was inspired by my research at MIT with <a href="http://www.kalyanv.org/">Kalyan Veeramachaneni</a> building a "Data Science Machine".</p>

			<p>In the past, I have built or contributed to the related content recommendation engine for <a href="http://nytimes.com">The New York Times</a>, sleep quality algorithms at <a href="https://fitbit.com">Fitbit</a>, and search frontend features at <a href="https://twitter.com">Twitter</a>.</p>

			<p>While at MIT, I was a founding investment team member with <a href="http://dormroomfund.com">Dorm Room Fund</a> where I helped invest $500k in student startups.</p>

			<p>I like to work on</p>
			<ul style="margin-top:-10px">
				<li style="margin-left:12px">Data Science</li>
				<li style="margin-left:12px">Big data engineering</li>
				<li style="margin-left:12px">Start-ups</li>
			</ul>
</div>
{% endblock %}
