{% extends "base.html" %}
{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}

{% block main %}
<div id="me" class="template-container">
			<div class="title">
				I'm a developer who likes data science and machine learning
			</div>
			<div id = "project-content" class="content">
				<p>Currently, I am working on my master's in machine learning at MIT while writing my thesis with <a href="http://groups.csail.mit.edu/EVO-DesignOpt/">The ALFA Group</a>.</p>

				<p>In the past, I have built or contributed to the related content recommendation engine for <a href="http://nytimes.com">The New York Times</a>, sleep quality algorithms at <a href="https://fitbit.com">Fitbit</a>, and search frontend features at <a href="https://twitter.com">Twitter</a>.</p>

				<p>I also have been known to do personal projects, which you can check out <a href="/projects/">here</a>. Of course, I need to update that list with the things I've been working on recently</p>
				
			</div>
			<!-- <img id="coding-arrow" class="arrow" src="static/img/arrows/coding.png"/> -->
			<!--<img id="sv-arrow" class="arrow" src="static/img/arrows/sv.png"/>-->
			
</div>
{% endblock %}
