{% extends "base.html" %}


{% block main %}
<div id="projects" class="template-container">
			<div class="title">
				Research Papers
			</div>


			

			<div class="content">
				<div>Here's a selection of papers I have authored or co-authored during my time at MIT.</div>

				<ul>
				{% for paper in paper_list %}
					<li class="paper-title">
						{{paper.title}}
						 <a href="/static/{{paper.file}}">[pdf]</a>
						 {% if paper.code %}
						 	<a href="/static/{{paper.code}}">[code]</a>
						 {% endif %}
						 {% if paper.note %}
						 	{{paper.note}}
						 {% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>

</div>
{% endblock %}
