{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/project.js"></script>
{% endblock %}

{% block projectList %}
	<ul id="project-list">
		{% for project in project_list %}
		  <li><a href="/project/{{ project.link }}">{{ project.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block main %}
	<div class="title">
				{{project.title}}
			</div>

	<div class="template-container project">
			<p class="">
				<img class="first-image float-right" src="{{project.previewImage}}"/>
				{% if project.url %}
				<p><span class="highlight">URL:</span> <a href="{{project.url}}" target="_blank">{{project.url}}</a></p>
				{% endif %}

				{% if project.created %}
				<p><span class="highlight">Created:</span> {{project.created}}</p>
				{% endif %}

				{% if project.tech %}
				<p><span class="highlight">Technology:</span> {{project.tech}}</p>
				{% endif %}

				{% if project.description %}
				<p><span class="highlight">Description:</span> {{project.description}}</p>
				{% endif %}

				{% if project.add %}
				<p><span class="highlight">Additional Info:</span> {{project.add}}</p>
				{% endif %}

				<p>
						{% for image in project.images %}

						<a rel="m" class="shotBox" href="{{ image }}"> <img class="ss" src="{{ image }}"/> </a>

						{% endfor %}
				</p>
			</p>
	</div>
{% endblock %}
