<% var root = (environment == "production") ? "/" : "/" %>

<div class="bg gplay-bg">
    <div class="container section">
    	<div class="row">
    		<div class="col s12 section-header">FeatureLab EULA</div>
    	</div>

        <div class="row">
        	<a href="<%-root%>legal/eula.pdf"  class="waves-effect waves-light btn green-bg" style="margin-left:15px">Download</a>
        </div>
    </div>
</div>

